<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134055390971-avvcifilpcctg1lsvl5re6rsqp16o4ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134055390971-avvcifilpcctg1lsvl5re6rsqp16o4ne</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134055390971-101vcpfah9gg8n068a96o2hk4m1uq0ng.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8mnxgDVczgU-HpCUEsBfTUrt-6KVlBZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>134055390971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.topick</string>
	<key>PROJECT_ID</key>
	<string>top-pick-678f0</string>
	<key>STORAGE_BUCKET</key>
	<string>top-pick-678f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134055390971:ios:cb28103c51d6f8377c4a5e</string>
</dict>
</plist>